body {
	height: 2000px;
}
.dafixuli {
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	z-index: 20;
	background-color: #ABB2B9;
}
.fixed::after {
	background-color: grey;
	content:'';
	clear: both;
	display: block;
}
.logo {
	float: left;
	margin-left: 97.9px;
	padding-top: 20.5px;
}
.texts {
	float: left;
	margin-left: 103.4px;
	padding-top: 43px;
}
.text {
	margin-left: 31px;
	color: #3D58A6;
	font-size: 24px;
}
.home {
	color: #3D58A6;
	font-size: 24px;
}
/*meore boxi*/
.boxtwo {
	position: relative;
	width: 1366px;
	height: 520px;
	background-color: #E6E6E6;
	margin-top: 100px;
}
.surati {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.texti {
	position: absolute;
	top: 300px;
	left: 150px;
	font-size: 30px;
	color: white;
}
.margint {
	margin-top: 8px;
}
/*mesame boxi*/
.boxthree {
	position: relative;
	width: 1366px;
	height: 499.33px;
	background-color: #363E97;
}
.firstdiv,
.seconddiv {
	width: 570px;
	height: 320px;
	background-color: white;
	float: left;
	margin-top: 90px;
}
.seconddiv {
	margin-left: 30px;
}
.firstdiv {
	margin-left: 98px;
}
.meoretexti {
	position: absolute;
	top: 30px;
	left: 100px;
	width: 100px;
	color: white;
}
.xazi {
	position: absolute;
	width: 2px;
	height: 20px;
	background-color: white;
	margin-left: 200px;
	margin-top: 30px;
}
.satauri {
	font-size: 24px;
}
.para {
	position: absolute;
	top: 32px;
	left: 220px;
	color: white;
	font-size: 18px;
}
/*meotxe boxi*/
.boxfour {
	position: relative;
	width: 1366px;
	height: 450px;
	background-color: #BDCCD4;
}
.floatl {
	float: left;
}
.foto1 {
	margin-left: 30px;
	padding-top: 90.7px;
}
.foto2 {
	padding-top: 90.7px;
	padding-left: 98px;
}
.div1,
.div2,
.div3,
.div4 {
	width: 270px;
	height: 60px;
	background-color: #E6E6E6;
	float: left;
}
.div1 {
	margin-left: 98px;
}
.div2,
.div3,
.div4 {
	margin-left: 34px;
}
.sataurebi {
	text-align: center;
	padding-top: 20px;
}
.satauri2 {
	position: absolute;
	top: 30px;
	left: 100px;
	width: 100px;
	color: blue;
	font-size: 24px;
}
.xazi1 {
	position: absolute;
	width: 2px;
	height: 20px;
	background-color: blue;
	top: 30px;
	left: 200px;
}
.para1 {
	position: absolute;
	top: 32px;
	left: 220px;
	color: blue;
	font-size: 18px;
}
/*bolo boxi*/
.bolo {
	content:'';
	clear: both;
	display: block;
	width: 1366px;
	height: 345.46px;
	background-color: #E6E6E6;
	position: relative;
}
.pirveli {
	float: left;
	width: 570px;
	height: 225px;
	background-color:#F2F2F2;
	margin-top: 90px;
	margin-left: 98px;
}
.meore {
	float: left;
	width: 570px;
	height: 225px;
	background-color:#F2F2F2;
	margin-top: 90px;
	margin-left: 29px;
}
.sataurifirst {
	display: block;
	width: 274px;
	height: 29px;
	margin-top: 11.1px;
	margin-left: 20.8px;
	font-size: 22px;
	color: blue;
}
.suratifirst {
	float: left;
	margin-left: 38.8px;
	margin-top: 17.4px;
}
.parafirst {
	width: 355px;
	height: 143.29px;
	font-size: 23px;
	float: left;
	margin-left: 60.3px;
	margin-top: 17.4px;
}
.xazi2 {
	position: absolute;
	width: 2px;
	height: 20px;
	background-color: black;
	top: 30px;
	left: 220px;
}
.satauri3 {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 100px;
	color: black;
	font-size: 24px;
}
.para2 {
	position: absolute;
	top: 32px;
	left: 230px;
	color: black;
	font-size: 18px;
}
/*footer*/
.dabla {
	margin-top: 30px;
	margin-left: 30px;
	font-size: 28px;
}

